*{
    margin:0;
    padding:0; 
    box-sizing:border-box; 
}
body{
    background-color:#19183B;  
    height:100vh; 
    width:100vw;
    display:flex; 
    justify-content:center; 
    align-items:Center; 
}
h1{
    color:white; 
    position:absolute; 
    top:30px; 
    border:2px solid yellow; 
    border-radius:10px; 
    padding:10px; 
}

.main-container{
     width:60%; 
     height:80%; 
    display:grid;  
   grid-template-rows:repeat(5,1fr); 
    grid-template-columns:repeat(1,1fr); 
    gap:20px; 
      
}

.boxes img{
height:100%; 
width:100%; 
border:2px solid yellow; 
border-radius:15px; 
box-shadow:2px 3px 4px blue; 
}
.h1-tag{
    color:black; 
    font-size:1.5rem; 
    font-weight:700; 
    border-radius:15px; background-color:yellow; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
    position:relative; 
    
}



 /* when ever width 785 se below hoga then one by one ajayege */
 @media (min-width:785px){
    /* 2 rows and 2 columns hoge */
    .main-container{
        grid-template-rows:repeat(3,1fr); 
    grid-template-columns:repeat(2,1fr);
    
     grid-template-areas:
     "h1tag h1tag " 
    "calculator ticToc"
      "digital counter";
      gap:20px; 
    }

    #calculator{
    grid-area:calculator;
}

#ticToc{
    grid-area:ticToc; 
}
#digital{
    grid-area:digital; 
}
#counter{
    
        grid-area:counter; 
    }
#h1{
    grid-area:h1tag; 


}
    


 }