*{
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body{
    height:100vh; 
    background-color:black; 
    color:white; 
    display:flex; 
    justify-content:center; 
    align-items:center; 
}
.clock{
    position:relative; 
   background-color:rgba(70, 57, 57, 0.575);
   font-size:1.5rem; 
   height:100px; 
   width:300px; 
   display:flex; 
   justify-content:center; 
   padding:10px; 
   border-radius:10px;  
   flex-direction:column; 
}
.clock:after{
    content:""; 
    height:102px; 
    width:302px; 
    position:absolute; 
    left:0px; 
    bottom:-5px; 
    background-color:black; 
    z-index:-1; 
    border:2px solid blue; 
    border-radius:4px; 

}

#date{
    font-size:1.5rem; 
    color:white; 
    font-weight:600; 
    margin-bottom: 5px;
    text-align:center; 
}
.clock ul{
    list-style: none;
    display:flex; 
    align-items:center; 
    gap:10px;
    font-size:2rem; 
    font-weight:700; 
    padding-left:50px; 
    padding-top:10px; 
}
#ampm{
    color:yellow; 
    font-size:20px; 
}