*{
    margin:0; 
    padding:0;
    box-sizing:border-box; 
}
body{
    display:flex; 
    justify-content:center; 
    align-items:center; 
    height:100vh; 
    width:100vw; 
    background:url("./waterfall.jpg"); 
    background-repeat:no-repeat;
    background-position:center; 
    background-size:cover; 
}

.main-container{
    display:flex; 
    flex-direction:column;
    justify-content:center; 
    align-items:center; 
    background-color:rgba(0, 0, 0, 0.113); 
    height:500px; 
    border-radius:20px;  
    border:2px solid white; 

}

#input{
    width:70%; 
    height:40px; 
    font-size:2rem; 
    border:none; 
    background-color:rgba(181, 98, 98, 0); 
    margin-bottom:30px; 
    text-align:end;
    color:white; 

}
.boxes{
    height:60px; 
    width:60px; 
    margin:5px; 
    border-radius:50%; 
    border:none; 
    background-color:rgba(0, 0, 0, 0.113); 
    color:white; 
    font-size:1.5rem; 
    text-align:center; 
    border:2px solid white; 

}
/* by hover ye effect hoga */

.boxes:hover{
    background-color:#FF9A00; 
    border:2px solid #FDBB2D; 
}

#Ac{
    background-color:#FF9A00; 
}
/* es per hover karne se ye effect hoga */
#Ac:hover{
    background-color:background;
    background: #22C1C3;linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(28, 61, 29, 1) 100%);
    border:2px solid yellow; 
}

#DEL{
    background-color:#FF9A00; 
}
/* by hover ye effect work karega */

#DEL:hover{
     background-color:background;
    background: #22C1C3;linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(28, 61, 29, 1) 100%);
    border:2px solid yellow; 
}
/* by hover it will work */
#Equal:hover{
     background-color:background;
    background: #22C1C3;linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(28, 61, 29, 1) 100%);
    border:2px solid yellow; 
}
#Equal{
    background-color:#FF9A00; 
}